
/* STYLE */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #2C2C2C;
  scroll-behavior: smooth;
}

.header {
  background:  linear-gradient(135deg, #c0aeee, #d186d7); 
  
  color: white;
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: top;
  justify-content: center;
  box-shadow: 0 8px 10px #1a191a;
}

.logo-container {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-container img {
  height: 120px;
  width: auto;
}



nav ul {
  list-style: none;
  margin: 0;
  padding-top: 100px;
  padding-right: 30px;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #4B2C74;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 18px;
  border-radius: 20px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #4EC5B0;
  color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.505);
  padding: 30px;
  border-radius: 12px;
}



.cta-button {
  background: #4EC5B0;
  color: #2C2C2C;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.cta-button:hover {
  background: #3AA694;
  color: white;
}


.footer {
  background:linear-gradient(to Right,#eaafef, #d2c5f3);
  color: #2C2C2C;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #2C2C2C;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #4EC5B0;
}
